<mat-toolbar class="bottom-toolbar-wrapper">
   <button mat-icon-button class="toolbar-button" (click)="goToPage('portfolio')" aria-label="Portfolio">
      <div class="toolbar-item">
         <mat-icon class="toolbar-icon">business_center_outline</mat-icon>
         <span class="toolbar-icon-label">Portfolio</span>
      </div>
   </button>
   <button mat-icon-button class="toolbar-button" (click)="goToPage('activity')" aria-label="Activity">
      <div class="toolbar-item">
         <mat-icon class="toolbar-icon">auto_stories_outline</mat-icon>
         <span class="toolbar-icon-label">Activity</span>
      </div>
   </button>
   <button mat-icon-button class="toolbar-button" (click)="goToPage('account')" aria-label="Account">
      <div class="toolbar-item">
         <mat-icon class="toolbar-icon">person_outline</mat-icon>
         <span class="toolbar-icon-label">Account</span>
      </div>
   </button>
</mat-toolbar>