@import '../../../../styles.scss';

.overview-card {
   border-radius: 16px;
   margin-bottom: 10px;

   .card-content {
      display: flex;
      justify-content: space-between;

      .list-card-start-details {
         display: flex;
         flex-direction: column;
      }

      .list-card-start-details span:first-child {
         font-size: 12px;
      }

      .list-card-start-details span:last-child {
         font-weight: bold;
      }

      .list-card-end-details {
         display: flex;
         align-items: center;
         gap: 14px;

         .list-card-end-content {
            display: flex;
            flex-direction: column;
            align-items: end;
         }

         .list-card-end-content span:first-child {
            font-size: 12px;
         }

         .list-card-end-content span:last-child {
            color: $primary-color;
         }

         .list-card-icon {
            width: 26px;
            height: 26px;
            font-size: 26px;
            color: $primary-color;
         }
      }
   }
}